<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%-include("a.ejs")%>

    <table border="1" >
        <tr>
            <td>
                이름
            </td>
            <td>
                직업
            </td>
            <td>
                성별
            </td>
        </tr>
        <% for(var i=0; i<per.length; i++) { %>
            <tr>
                <td>
                    <%=per[i]["name"]%>
                </td>
                <td>
                    <%=per[i]["job"]%>
                </td>
                <td>
                    <%=per[i]["gender"]%>
                </td>
            </tr>
        <% } %>
    </table>
</body>
</html>